@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

.fontEpilogue{
    font-family: 'Epilogue', sans-serif;
}

.custom{
    background-color: #123c72;
}

.buttonColor{
    background-color: #2360b1;
}

.footerText{
    fill: #6b7280;
}

.hover\:fill-white:hover {
    --tw-text-opacity: 1;
    fill: rgb(255 255 255 / var(--tw-text-opacity));
}

.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
